body{ width: 960px;
   
margin: 0 auto;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background-color: #777;
color: #777;
overflow: hidden;

}
.header{background-color: #ebebeb;
padding: 10px;
margin: 10px;
display: block;
text-align: center;}
.nav{padding: 10px;
    margin:10px 10px 20px 10px;
    display: block;
    text-align: center;
    background-color: #ebebeb;}
    .section1{ position:relative;
    bottom: 10px;
}

    .sectionmain{display: block;
        float: left;
        width: 495px;
        height: 267px;
        background-color: #ebebeb;
        overflow: hidden;
        padding: 10px;
        margin: 10px;
       
    }
    .article{background-color:#777;
    color: #ebebeb;
display: block;

padding: 5px 20px;
text-align: center;}

h1,p{padding: 20px;
    letter-spacing:2px;
margin: 10px;
width: 90%;
background-color: #ebebeb;
color: #777;
text-align: center;
font-weight: bold;}
.footer{padding: 10px;
margin: 10px;
padding: 10px;

background-color: #ebebeb;
color: #777;
clear: both;}

.aside{width: 40%;
height: 267px;
display: block;
float: right;
overflow: hidden;
background-color: #ebebeb;
text-align: center;
margin: 10px;
padding: 10px;}